[submodule "tree-sitter"]
	path = tree-sitter
	url = https://github.com/tree-sitter/tree-sitter
[submodule "tree-sitter-simpl"]
	path = tree-sitter-simpl
	url = git@github.com:realhackcraft/tree-sitter-simpl.git
